body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Bootstrap*/

.badge-red {
    background-color: #f2817f;
}

.badge-blue {
    background-color: #6eb8fa;
}

.badge-green {
    background-color: #70d58e;
}

.badge-gray {
    background-color: #9d9dbb;
}

.badge {
    color: white;
    width: 75px;
    text-align: center;
}

.form-control {
    border-radius: 0 !important;
}

/*Header*/

.whiteContainer {
    padding: 25px;
    background-image: url('https://cdn.rcstatic.com/images/site_graphics/newsite/white_background.png');
    margin-top: 50px;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.26);
}

.whiteContainer p {
    color:#0F6193;
    padding: 0 13px;
    font-size: 20px;
    font-weight: 500;
}

header { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex !important;
}
header div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 100px;
  margin: .5vw; 
}
header div img { 
  width: 100%; 
  height: auto; 
}

.yellowContainer {
    padding: 25px 38px;
    background-color:orange;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.26);
}

.headerTitles {
    margin: 0em 4em 4em 4em;
    color: white;
    text-shadow: 0.5px 0.5px #000;
}

.jumbotron {
    background-image: url("./images/bg.jpg");
    background-size: cover;
    
    background-position: center;
}

.containerBadgeLeft, .containerInfoRight {
    display:inline-block;
    vertical-align: top;
    text-transform: capitalize;
}

.containerBadgeLeft {
    width: 100px;
    padding-top: 3px;
}

.subtitleLocation {
    margin-top: -10px;
}

.subtitleLocation small {
    font-size: 70%;
}

.logoRC {
    width: 150px!important;
    height: 50px;
    background-image: url(https://cdn.rcstatic.com/images/site_graphics/newsite/mobile/logos/rc-logo-small--white.svg);
    background-size: 100%;
    background-position: left center;
    background-repeat: no-repeat;
    object-position: -99999px 99999px;
}

.navbar-default {
    background-color: #0771c4;
    border-color: transparent;
}

.navbar-brand {
    padding: 0 !important;
    margin: 0;
}

/*Popular Cities*/

.containerPopularDestination {
    overflow: hidden;
    position:relative;
    margin-top: 25px;
}

.containerPopularDestination img {
    width: 100%;
    height: 100%;
    max-height: 330px;
}

.overlayPopularDestination {
    position:absolute;
    top: 25px;
    left: 25px;
    width: 30%;
    padding: 15px;
    opacity: 1;
    background-image: url('https://cdn.rcstatic.com/images/site_graphics/newsite/white_background.png');
}

.overlayPopularDestination p {
    margin:0;
    padding:0;
    color:#0771c4;
}

.overlayPopularDestination p:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.overlayPopularDestination p:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    margin-top:-5px;
}

/* Media Queries */

@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }
  
}


@media screen and (max-width: 991px) {
    .whiteContainer {
        margin-top: 25px;
    }
}


